.addbutton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: #4CAF50;
    border: none;
}

.addbutton:hover {
    background-color: #3e8e41;
}

.addbutton:active {
    background-color: #3e8e41;
}

.viewexambtn {
    margin-left: auto;
    display: block;

    background-color: #5b616c;
    border: none;
}

.viewexambtn:hover {
    background-color: #222833;
}

.viewexambtn:active {
    background-color: #13181f;
}

.examoverview {
    padding: 12px 50px;
}

.card-header {
    padding: 12px 50px;

    background-color: #e0e0e0;
    border: none;
}

.werkproces-header {
    width: 95%;
    margin: 0 auto;

    background-color: #efefef;
}

.taak {
    width: 90%;
    margin: 0 auto;

    background-color: #fbfbfb;
}

.threeopt-radio {
    margin: 0;
}

.threeopt-radio .btn {
    background-color: #5b616c;
}

.threeopt-radio .active {
    background-color: #3d4550;
}

input[type="radio"] {
    visibility: hidden;
}

.threeopt-radio {
    text-align: center !important;
}
