.addbutton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: #4CAF50;
    border: none;
}

.addbutton:hover {
    background-color: #3e8e41;
}

.addbutton:active {
    background-color: #3e8e41;
}

.viewexambtn {
    margin-left: auto;
    display: block;

    background-color: #5b616c;
    border: none;
}

.viewexambtn:hover {
    background-color: #222833;
}

.viewexambtn:active {
    background-color: #13181f;
}

.examoverview {
    padding: 12px 50px;
}

.card-header {
    padding: 12px 50px;

    background-color: #e0e0e0;
    border: none;
}

.werkproces-header {
    width: 95%;
    margin: 0 auto;

    background-color: #e6e6e6;
}

.taak {
    width: 90%;
    margin: 0 auto;

    background-color: #fbfbfb;
}

.taak .row {
    margin-top: 10px;
}

.threeopt-radio {
    float: right;
}

.threeopt-radio .btn {
    background-color: #b8c9e6;
}

.threeopt-radio .active {
    background-color: #76849c;
}

input[type="radio"] {
    visibility: hidden;
}

.threeopt-radio {
    text-align: center !important;
}

.wp-feedback-btn {
    margin: 10px auto;
    display: block;

    background-color: #5b616c;
    border: none;
}

.wp-feedback-btn:hover {
    background-color: #222833;
}
