.primary-blue {
    background-color: #0074E4; /* Your custom background color */
    color: #FFFFFF; /* Your custom text color */
}

.navy-blue {
    background-color: #001F3F; /* Your custom background color */
    color: #FFFFFF; /* Your custom text color */
}

.dark-blue {
    background-color: #003366; /* Your custom background color */
    color: #FFFFFF; /* Your custom text color */
}

.turquoise-blue {
    background-color: #47D1CC; /* Your custom background color */
    color: #FFFFFF; /* Your custom text color */
}

.steel-blue {
    background-color: #4682B4; /* Your custom background color */
    color: #FFFFFF; /* Your custom text color */
}

.charcoal {
 /* Your custom background color */
    border: 2px solid #333333 /* Your custom text color */
}
